@model practice2.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product_info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_info)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category_gender.category_gender_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category_gender.category_gender_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
